---
import MainLayout from "@/layouts/MainLayout.astro";
import { actions } from "astro:actions";

const cart = Astro.cookies.get("cart");

const { data: products, error } = await Astro.callAction(
  actions.loadProductsFromCart,
  ""
);

export const prerender = false;
---

<MainLayout title="Carrito de compras">
  <h1>Carrito</h1>
</MainLayout>
