---
import MainLayout from "@/layouts/MainLayout.astro";
import { actions } from "astro:actions";

// export const prerender = false; // Not needed in 'server' mode

const { data: products, error } = await Astro.callAction(
  actions.getProductsByPage,
  {}
);

if (error) {
  return Astro.redirect("/");
}

console.log(products);
---

<MainLayout>
  <h1 class="text-3xl">Home Page</h1>
</MainLayout>
